In [1]:
paths='C:\\Users\\MudraCircle\\Nehali\\auto-loan-calculator.xlsx'
import xlwings as xw
import pandas as pd
import datetime as dt
import json
from openpyxl import load_workbook
import numpy as np
import datetime

In [73]:
def purchase_price(paths,saleprice_options, destination_charge, title_transfer_fee, other_taxable_charge):
    app = xw.App()
    wb = app.books.open(paths)
    app=xw.apps.active
    sht = wb.sheets['AutoLoanCalculator']
    
    sht.range('D5').value =saleprice_options
    sht.range('D6').value =destination_charge
    sht.range('D7').value =(title_transfer_fee/100)
    sht.range('D8').value =other_taxable_charge
    
    
    input10=sht.range('D5').value
    input20=sht.range('D6').value 
    input30=sht.range('D7').value
    input40=sht.range('D8').value
    
    

    wb.save()
    app.quit()
    
    return (float(input10) , float(input20), float(input30) , float(input40))
purchase_price(paths,50000, 10, 5, 10)

(50000.0, 10.0, 0.05, 10.0)

In [74]:
def purchase_price_out(paths):
    app = xw.App()
    wb = app.books.open(paths)
    app=xw.apps.active
    sht = wb.sheets['AutoLoanCalculator']
    names=[sht.range('C9').value]
    output=[float(sht.range('D9').value)]
    c=dict(zip(names,output))
    C=json.dumps(c)
    app.quit()
    return C
purchase_price_out(paths)

'{"Purchase Price": 50020.05}'

In [75]:
def State_sales_tax(paths,trade_in_tax_deductable,cash_rebate, state_sales_tax):
    app = xw.App()
    wb = app.books.open(paths)
    app=xw.apps.active
    sht = wb.sheets['AutoLoanCalculator']
    
    sht.range('D12').value =trade_in_tax_deductable
    sht.range('D13').value =cash_rebate
    sht.range('D14').value =(int(state_sales_tax)/100)
    
    input10=sht.range('D12').value
    input20=sht.range('D13').value 
    input30=sht.range('D14').value
    wb.save()
    app.quit()
    
    return (input10, input20, float(input30) )
State_sales_tax(paths,'FALSE', 'TRUE', 5)

(False, True, 0.05)

In [76]:
def State_sales_tax(paths):
    app = xw.App()
    wb = app.books.open(paths)
    app=xw.apps.active
    sht = wb.sheets['AutoLoanCalculator']
    names=['Net_Taxable', 'State_Sales_Excise_Tax']
    output=[float(sht.range('D15').value),float(sht.range('D16').value)]
    c=dict(zip(names,output))
    C=json.dumps(c)
    app.quit()
    return C
State_sales_tax(paths)

'{"Net_Taxable": 49970.05, "State_Sales_Excise_Tax": 2498.5025}'

In [77]:
def Non_taxable_fees(paths,registration,late_regi_fee,service_contact, special_plate_fee, admin_fee, transaction_fee, late_title_transfer_fee, Dupliacte_titl_fee, other_notax_fee):
    app = xw.App()
    wb = app.books.open(paths)
    app=xw.apps.active
    sht = wb.sheets['AutoLoanCalculator']
    
    sht.range('D19').value =registration
    sht.range('D20').value =late_regi_fee
    sht.range('D21').value =service_contact
    sht.range('D22').value =special_plate_fee
    sht.range('D23').value =admin_fee
    sht.range('D24').value =transaction_fee
    sht.range('D25').value =late_title_transfer_fee
    sht.range('D26').value =Dupliacte_titl_fee
    sht.range('D27').value =other_notax_fee
    input10=sht.range('D19').value
    input20=sht.range('D20').value 
    input30=sht.range('D21').value
    input40= sht.range('D22').value
    input50= sht.range('D23').value
    input60=sht.range('D24').value
    input70=sht.range('D25').value
    input80=sht.range('D26').value
    input90=sht.range('D27').value

    
    wb.save()
    app.quit()
    
    return (float(input10), float(input20), float(input30), float(input40), float(input50), float(input60), float(input70), float(input80), float(input90))
Non_taxable_fees(paths,10,25,500,5,5,5,5,5,5)

(10.0, 25.0, 500.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0)

In [78]:
def Loan_amount(paths,unpaid_loan_bal, less_down_pay, less_value_oftrade_in, less_cash_rebate):
    app = xw.App()
    wb = app.books.open(paths)
    app=xw.apps.active
    sht = wb.sheets['AutoLoanCalculator']
    
    sht.range('D32').value =unpaid_loan_bal
    sht.range('D34').value =less_down_pay
    sht.range('D35').value =less_value_oftrade_in
    sht.range('D36').value = less_cash_rebate
    input10=sht.range('D32').value
    input20=sht.range('D34').value 
    input30=sht.range('D35').value
    input40=sht.range('D36').value
    wb.save()
    app.quit()
    
    return (float(input10), float(input20), float(input30) , float(input40))
Loan_amount(paths,500,5000,500,50)

(500.0, 5000.0, 500.0, 50.0)

In [79]:
def Non_taxable_loan_out(paths):
    app = xw.App()
    wb = app.books.open(paths)
    app=xw.apps.active
    sht = wb.sheets['AutoLoanCalculator']
    names=['total_non_Taxable_fee', 'total_loan_amt']
    output=[float(sht.range('D28').value),float(sht.range('D38').value)]
    c=dict(zip(names,output))
    C=json.dumps(c)
    app.quit()
    return C
Non_taxable_loan_out(paths)

'{"total_non_Taxable_fee": 565.0, "total_loan_amt": 48033.5525}'

In [6]:
def payment_calc_input(paths, autoloan_amt, anual_int_rate, term_loan_in_yr, first_payment_date,freq_of_payment):
    app = xw.App()
    wb = app.books.open(paths)
    app=xw.apps.active
    sht = wb.sheets['PaymentCalculator']
    date_time_str = first_payment_date
    date_time_obj = dt.datetime.strptime(date_time_str, '%Y-%m-%d')
    sht.range('D5').value = autoloan_amt
    sht.range('D6').value = anual_int_rate
    sht.range('D7').value =term_loan_in_yr
    sht.range('D8').value = date_time_obj 
    sht.range('D9').value= freq_of_payment
    
    input10=sht.range('D5').value
    input20=sht.range('D6').value 
    input30=sht.range('D7').value
    input40=sht.range('D8').value
    input50=sht.range('D9').value
    
    

    wb.save()
    app.quit()
    
    return (float(input10) , float(input20), float(input30) , input40, input50)
payment_calc_input(paths,50000, 10, 5, '2015-12-5', 'Monthly' )

(50000.0, 10.0, 5.0, datetime.datetime(2015, 12, 5, 0, 0), 'Monthly')

In [81]:
def payment_calc_summary(paths):
    app = xw.App()
    wb = app.books.open(paths)
    app=xw.apps.active
    sht = wb.sheets['PaymentCalculator']
    names=['Number_of_Payments', 'Rate_per_period','Payment_per_period','Total_Interest','Total_Payments']
    output=[float(sht.range('D12').value),float(sht.range('D13').value),float(sht.range('D14').value),float(sht.range('D15').value),float(sht.range('D16').value)]
    c=dict(zip(names,output))
    C=json.dumps(c)
    app.quit()
    return C
payment_calc_summary(paths)

'{"Number_of_Payments": 60.0, "Rate_per_period": 0.8333333333333334, "Payment_per_period": 41666.67, "Total_Interest": 2450000.0, "Total_Payments": 2500000.0}'

In [82]:
def amort_schedule(paths):
    app = xw.App()
    wb = app.books.open(paths)
    app=xw.apps.active
    sht = wb.sheets['PaymentCalculator']
    
    data=pd.read_excel(paths, sheet_name='PaymentCalculator')
    
    mydata=data.iloc[17:782,0:7]
    mydata=mydata.reset_index(drop=True)
    
    mydata.columns=[mydata.iloc[0,0:7].replace('\n', ' ', regex=True)]
    
    mydata.columns=pd.Series(mydata.iloc[0].values).replace('\n', ' ', regex=True)
    mydata.drop(index=0, inplace=True)
    mydata.reset_index()
    
    ind_NAN=[]
    for i in range(1,len(pd.Series(mydata['No.'].values[1:]))):
        if pd.Series(mydata['No.'].values[i]).isna().values[0]==True:
            ind_NAN.append(i)
    mydata=mydata[:ind_NAN[0]]
    data_for_json=mydata
    
    keys=pd.Series(data_for_json.columns.values)
    all_keys=list(pd.Series(data_for_json.columns.values))
    
    values=[]
    for each_col in data_for_json.columns:
        values.append(str(list(data_for_json[each_col].values.flatten())))
    final_data_dict=dict(zip(all_keys, values))
    
    final_dictt=json.dumps(final_data_dict)
    app.quit()
    return final_dictt
amort_schedule(paths)

'{"No.": "[nan, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]", "Due Date": "[nan, datetime.datetime(2015, 12, 5, 0, 0), datetime.datetime(2016, 1, 5, 0, 0), datetime.datetime(2016, 2, 5, 0, 0), datetime.datetime(2016, 3, 5, 0, 0), datetime.datetime(2016, 4, 5, 0, 0), datetime.datetime(2016, 5, 5, 0, 0), datetime.datetime(2016, 6, 5, 0, 0), datetime.datetime(2016, 7, 5, 0, 0), datetime.datetime(2016, 8, 5, 0, 0), datetime.datetime(2016, 9, 5, 0, 0), datetime.datetime(2016, 10, 5, 0, 0), datetime.datetime(2016, 11, 5, 0, 0), datetime.datetime(2016, 12, 5, 0, 0), datetime.datetime(2017, 1, 5, 0, 0), datetime.datetime(2017, 2, 5, 0, 0), datetime.datetime(2017, 3, 5, 0, 0), datetime.datetime(2017, 4, 5, 0, 0), datetime.datetime(2017, 5, 5, 0, 0), datetime.datetime(2017, 6, 5, 0, 0), datetime.datetime(2017, 7, 5, 0, 0), datetime.datetime(2017, 8, 5, 0, 0), datetime.datetime(2017, 9, 5, 0, 0), datetime.datetime(2017, 10, 5, 0, 0), datetime.datetime(2017, 11, 5, 0, 0), datetime.datetime(2017, 12, 5, 0, 0), datetime.datetime(2018, 1, 5, 0, 0), datetime.datetime(2018, 2, 5, 0, 0), datetime.datetime(2018, 3, 5, 0, 0), datetime.datetime(2018, 4, 5, 0, 0), datetime.datetime(2018, 5, 5, 0, 0), datetime.datetime(2018, 6, 5, 0, 0), datetime.datetime(2018, 7, 5, 0, 0), datetime.datetime(2018, 8, 5, 0, 0), datetime.datetime(2018, 9, 5, 0, 0), datetime.datetime(2018, 10, 5, 0, 0), datetime.datetime(2018, 11, 5, 0, 0), datetime.datetime(2018, 12, 5, 0, 0), datetime.datetime(2019, 1, 5, 0, 0), datetime.datetime(2019, 2, 5, 0, 0), datetime.datetime(2019, 3, 5, 0, 0), datetime.datetime(2019, 4, 5, 0, 0), datetime.datetime(2019, 5, 5, 0, 0), datetime.datetime(2019, 6, 5, 0, 0), datetime.datetime(2019, 7, 5, 0, 0), datetime.datetime(2019, 8, 5, 0, 0), datetime.datetime(2019, 9, 5, 0, 0), datetime.datetime(2019, 10, 5, 0, 0), datetime.datetime(2019, 11, 5, 0, 0), datetime.datetime(2019, 12, 5, 0, 0), datetime.datetime(2020, 1, 5, 0, 0), datetime.datetime(2020, 2, 5, 0, 0), datetime.datetime(2020, 3, 5, 0, 0), datetime.datetime(2020, 4, 5, 0, 0), datetime.datetime(2020, 5, 5, 0, 0), datetime.datetime(2020, 6, 5, 0, 0), datetime.datetime(2020, 7, 5, 0, 0), datetime.datetime(2020, 8, 5, 0, 0), datetime.datetime(2020, 9, 5, 0, 0), datetime.datetime(2020, 10, 5, 0, 0), datetime.datetime(2020, 11, 5, 0, 0)]", "Payment Due": "[nan, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 91666.67]", "Additional Payment": "[nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]", "Interest": "[nan, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67]", "Principal": "[nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 50000]", "Balance": "[50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 0]"}'

In [83]:
def myconverter(o):
    if isinstance(o, datetime.datetime):
        return o.__str__()

In [95]:
def payment_calc_summary(paths):
    app = xw.App()
    wb = app.books.open(paths)
    app=xw.apps.active
    sht = wb.sheets['PaymentCalculator']
    names=['Total_Payments', 'Total_Interest','Reduced_Interest','Number_of_Payments','Last_Payment_Date']
    output=[float(sht.range('G5').value),float(sht.range('G6').value),(sht.range('G7').value),float(sht.range('G8').value),sht.range('G9').value]
    c=dict(zip(names,output))
    def myconverter(o):
        if isinstance(o, datetime.datetime):
            return o.__str__()
    C=json.dumps(c,default = myconverter) #TO READ DATETIME IN JSON
    app.quit()
    return C
payment_calc_summary(paths)

'{"Total_Payments": 2550000.2, "Total_Interest": 2500000.2, "Reduced_Interest": "None", "Number_of_Payments": 60.0, "Last_Payment_Date": "2020-11-05 00:00:00"}'

In [86]:

def Anual_int_rate(paths):
    app = xw.App()
    wb = app.books.open(paths)
    app=xw.apps.active
    sht = wb.sheets['LoanComparisons']
    

    data=pd.read_excel(paths, sheet_name='LoanComparisons')
    
    mydata=data.iloc[6:18,0:4]
    mydata=mydata.reset_index(drop=True)
    
    mydata.columns=[mydata.iloc[0,0:4].replace('\n', ' ', regex=True)]
    
    mydata.columns=pd.Series(mydata.iloc[0].values).replace('\n', ' ', regex=True)
    mydata.drop(index=0, inplace=True)
    mydata.reset_index()
    
    ind_NAN=[]
    for i in range(1,len(pd.Series(mydata['Annual Interest Rate'].values[1:]))):
        if pd.Series(mydata['Annual Interest Rate'].values[i]).isna().values[0]==True:
            ind_NAN.append(i)
    mydata=mydata[:ind_NAN[0]]
    data_for_json=mydata
    
    keys=pd.Series(data_for_json.columns.values)
    all_keys=list(pd.Series(data_for_json.columns.values))
    
    values=[]
    for each_col in data_for_json.columns:
        values.append(str(list(data_for_json[each_col].values.flatten())))
    final_data_dict=dict(zip(all_keys, values))
    
    final_dictt=json.dumps(final_data_dict)
    app.quit()
    return final_dictt
    
    

    
Anual_int_rate(paths)

'{"Annual Interest Rate": "[0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1]", "Total Paid": "[52583.4, 53905.799999999996, 55249.8, 56613.6, 57998.4, 59403.6, 60829.200000000004, 62275.200000000004, 63740.99999999999]", "Payment": "[876.39, 898.43, 920.83, 943.56, 966.64, 990.06, 1013.82, 1037.92, 1062.35]", "Total Interest": "[2583.4000000000015, 3905.7999999999956, 5249.800000000003, 6613.5999999999985, 7998.4000000000015, 9403.599999999999, 10829.200000000004, 12275.200000000004, 13740.999999999993]"}'

In [87]:
def of_payment(paths):
    app = xw.App()
    wb = app.books.open(paths)
    app=xw.apps.active
    sht = wb.sheets['LoanComparisons']
    

    data=pd.read_excel(paths, sheet_name='LoanComparisons')
    
    mydata=data.iloc[18:33,0:4]
    mydata=mydata.reset_index(drop=True)
    
    mydata.columns=[mydata.iloc[0,0:4].replace('\n', ' ', regex=True)]
    
    mydata.columns=pd.Series(mydata.iloc[0].values).replace('\n', ' ', regex=True)
    mydata.drop(index=0, inplace=True)
    mydata.reset_index()
    
    ind_NAN=[]
    for i in range(1,len(pd.Series(mydata['of_Payments'].values[1:]))):
        if pd.Series(mydata['of_Payments'].values[i]).isna().values[0]==True:
            ind_NAN.append(i)
    mydata=mydata[:ind_NAN[0]]
    data_for_json=mydata
    
    keys=pd.Series(data_for_json.columns.values)
    all_keys=list(pd.Series(data_for_json.columns.values))
    
    values=[]
    for each_col in data_for_json.columns:
        values.append(str(list(data_for_json[each_col].values.flatten())))
    final_data_dict=dict(zip(all_keys, values))
    
    final_dictt=json.dumps(final_data_dict)
    app.quit()
    return final_dictt
    
    

    
of_payment(paths)

'{"of_Payments": "[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72]", "Total Paid": "[256762.14, 500347.07999999996, 750013.74, 1000000.56, 1250000.0999999999, 1500000.1199999999, 1750000.14, 2000000.16, 2250000.1799999997, 2500000.1999999997, 2750000.2199999997, 3000000.2399999998]", "Payment": "[42793.69, 41695.59, 41667.43, 41666.69, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67, 41666.67]", "Total Interest": "[206762.14, 450347.07999999996, 700013.74, 950000.56, 1200000.0999999999, 1450000.1199999999, 1700000.14, 1950000.16, 2200000.1799999997, 2450000.1999999997, 2700000.2199999997, 2950000.2399999998]"}'

In [88]:
def down_payment(paths):
    app = xw.App()
    wb = app.books.open(paths)
    app=xw.apps.active
    sht = wb.sheets['LoanComparisons']
    

    data=pd.read_excel(paths, sheet_name='LoanComparisons')
    
    mydata=data.iloc[33:42,0:4]
    mydata=mydata.reset_index(drop=True)
    
    mydata.columns=[mydata.iloc[0,0:4].replace('\n', ' ', regex=True)]
    
    mydata.columns=pd.Series(mydata.iloc[0].values).replace('\n', ' ', regex=True)
    mydata.drop(index=0, inplace=True)
    mydata.reset_index()
    
    ind_NAN=[]
    for i in range(1,len(pd.Series(mydata['Down_Payment'].values[1:]))):
        if pd.Series(mydata['Down_Payment'].values[i]).isna().values[0]==True:
            ind_NAN.append(i)
    mydata=mydata[:ind_NAN[0]]
    data_for_json=mydata
    
    keys=pd.Series(data_for_json.columns.values)
    all_keys=list(pd.Series(data_for_json.columns.values))
    
    values=[]
    for each_col in data_for_json.columns:
        values.append(str(list(data_for_json[each_col].values.flatten())))
    final_data_dict=dict(zip(all_keys, values))
    
    final_dictt=json.dumps(final_data_dict)
    app.quit()
    return final_dictt
down_payment(paths)

'{"Down_Payment": "[0, 2500, 5000, 7500, 10000, 12500]", "Loan Amount": "[50000, 47500, 45000, 42500, 40000, 37500]", "Payment": "[41666.67, 39583.33, 37500, 35416.67, 33333.33, 31250]", "Total Interest": "[2450000.1999999997, 2327499.8000000003, 2205000, 2082500.1999999997, 1959999.8, 1837500]"}'

In [93]:
def Frequency(paths):
    app = xw.App()
    wb = app.books.open(paths)
    app=xw.apps.active
    sht = wb.sheets['LoanComparisons']
    

    data=pd.read_excel(paths, sheet_name='LoanComparisons')
    
    mydata=data.iloc[45:55,0:4]
    mydata=mydata.reset_index(drop=True)
    
    mydata.columns=[mydata.iloc[0,0:4].replace('\n', ' ', regex=True)]
    
    mydata.columns=pd.Series(mydata.iloc[0].values).replace('\n', ' ', regex=True)
    mydata.drop(index=0, inplace=True)
    mydata.reset_index()
    
    ind_NAN=[]
    for i in range(1,len(pd.Series(mydata['Frequency'].values[1:]))):
        if pd.Series(mydata['Frequency'].values[i]).isna().values[0]==True:
            ind_NAN.append(i)
    mydata=mydata[:ind_NAN[0]]
    data_for_json=mydata
    
    keys=pd.Series(data_for_json.columns.values)
    all_keys=list(pd.Series(data_for_json.columns.values))
    
    values=[]
    for each_col in data_for_json.columns:
        values.append(str(list(data_for_json[each_col].values.flatten())))
    final_data_dict=dict(zip(all_keys, values))
    
    final_dictt=json.dumps(final_data_dict)
    app.quit()
    return final_dictt
Frequency(paths)

IndexError: list index out of range